<!--Creacion de Landingpage -->
<div class="container">
  <div class="row">
      <div class="col-12">
          <h1>Formula de Trabajo</h1>
      </div>
  </div>
  <!--prueba de menu -->
  <div class="row">
     <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">FormuT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
     </div>
  </div>
  <div class="row">
    <div class="col-12">

    <p>En Fisica, trabajo se define como una fuerza que actua a traves de 
      una distancia (o desplazamiento) y se calcula como el producto de la
      fuerza componente y la distancia.
    </p>
    <p>La fuerza puede ser constante a traves de la distancia o variar
      a lo largo de esta
    </p>
    <p>¿Como expresarias el trabajo total hecho por una fuerza F(x) que
      actua desde la posicion x=a hasta la posicion x=b?
    </p>
    </div>
  </div>
  
  <img src= "assets/imagen/formuT.jpg" class="img-thumbnail mx-auto d-block" alt="">
       
</div>
<div class="container">
  <div class="row">
      <div class="col-12">
           <h1>Calculador</h1>
           <h3>by Mabel Perez Garibay</h3>
      </div>
  </div>
<app-ui></app-ui>
<router-outlet></router-outlet>